body {
	/*text-decoration: underline;*/
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

a {
	color: gold;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }