<!--
The navigation bar thing

-->
<style>
	#indexlink{
		color: white;
		text-decoration: none;
	}
	#indexlink:hover {
		font-style: italic;
	}
</style>
<nav class="navbar" style="font-size: 30px;">
	<a href="/" id="indexlink">
		<img src="/assets/images/icon.ico" alt="logo" style="width:60px;image-rendering: crisp-edges;"> Itzz&nbsp;Me
	</a>
	<!--<a href="econosite/econosite.php">Econosite</a>-->
	<a href="/about.html">About</a>
	<a href="/blogs.html">Blog</a>
	<!--<a href="/webring">Green Ring</a> - -->
	<a href="/games.html">Games</a>
	<a href="/links.html">Links</a>
	<!--<a href="/beepage.html">Bees</a> <br />-->
</nav>