<!--
The navigation bar thing

-->

<nav class="navbar" style="font-size: 30px;">
	<a href="/" style="color: white; text_decoration: none;">
		<img src="/assets/images/icon.ico" alt="logo" style="width:30px;height:30px;"></img> Itzz Me
	</a>
	- 
	<!--<a href="econosite/econosite.php">Econosite</a>-->
	<a href="/about">About</a> - 
	<a href="/blogs">Blog</a> - 
	<a href="/webring">Green Ring</a> - 
	<a href="/games">Games</a> -
	<a href="/links">Links</a> - 
	<a href="/beepage">Bees</a> - 
	<hr>
</nav>