@import url(/assets/css/fonts.css);

:root {
	--itzzic: 0, 175, 0;
}

body {

	background-image: url('/assets/images/misc/bgstars.gif');
	font: normal normal 300 16px 'RobotoMono';
	color: white;
}

/*this part is for hiding the pesky scrollbar*/
html {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
	display: none;
}


a {
	color: rgb(var(--itzzic));
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

div#oldsitealert {
	background-color: rgba(var(--itzzic), 0.12);
	border: solid 3px white;
	padding: 10px;
	text-align: center;
}

#nav {
	border-right: 1px dashed;
	width: 10%;
	vertical-align: top;
}

#footer {
	border-top: 1px solid;
}

.preferedcontact {
	text-decoration: underline;
	text-decoration-color: rgb(var(--itzzic));
}

table {
	margin-right: auto;
	margin-left: auto;
	width: 55%;
	height: 85%;
	border-style: ridge;
	border-width: 5px;
	background-color: black;
}

@media(max-width: 800px) or (orientation: portrait) {
	table{width: 100%;}
}