:root {
	--itzzic: 0, 175, 0;
}

body {
	background-color: black;
	color: white;
	/*text-decoration: underline;*/
	font-family: "InformeMedium", "Informe Med", monospace;
}

a {
	color: rgb(var(--itzzic));
}

div#oldsitealert {
	background-color: rgba(var(--itzzic), 0.12);
	border: solid 3px white;
	padding: 10px;
	text-align: center;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

@font-face {
	font-family: 'InformeMedium';
	src: url('/assets/InformeMedium-axmAK.ttf');
}