<!DOCTYPE html>
<html>
	<head>
		<title>Itzz Me - {{ page.title }}</title>
		<link rel="icon" type="image/png" href="/assets/images/icon.ico" />
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
		<meta charset="UTF-16" />
		{% feed_meta %}
    	{% seo %}
	</head>
	<body>
		<table><tr><td id="nav">
		{% include navbar.html %}
		</td><td>
		<!-- johnvertisement -->
		<iframe src="https://john.citrons.xyz/embed?ref=itzzcode.github.io" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>
		{{ content }}</td></tr>
		<tr><td colspan="2" id="footer">
		{% include footer.html %}
		</td></tr>
		</table>
	</body>
</html>