<!DOCTYPE html>
<html>
	<head>
		<title>itzzcode.github.io - {{ page.title }}</title>
		<link rel="icon" type="image/png" href="/assets/images/icon.ico" />
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
		<meta charset="UTF-16" />
	</head>
	<body>
		{% include navbar.html %}
		<!-- johnvertisement -->
		<iframe src="https://john.mondecitronne.com/embed?ref=http://truttle1.xyz/truttlecities/~Itzzy/MainStreet/index.html" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>
		{{ content }}
		{% include footer.html %}
	</body>
</html>